<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='login.css'>
</head>
<body>
    <div class="grid-container">
        <h1>Đăng nhập</h1>
        <div class="grid-item">
            <p class="content_text"; style="margin-right: 63%">Tên người dùng</p>
            <input type="text">
        </div>
        <div class="grid-item">
            <p class="content_text"; style="margin-right: 77%">Mật khẩu</p>
            <input type="password">
        </div>
        <div class = "optional_choices">
            <div class="left">Đăng ký</div>
            <div class="right">Quên mật khẩu ?</div>
        </div>

        <button>Đăng nhập</button> 
    </div>
</body>
</html>