<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Accounts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/manage_accounts.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logocompany.png') }}" alt="Company Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.home') }}">Home</a></li>
                <li><a href="{{ url_for('admin.manage_events') }}">Quản lý sự kiện</a></li>
                <li><a href="{{ url_for('admin.manage_accounts') }}">Quản lý tài khoản</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Đăng xuất</a></li>
                <li>{{ current_user.company_name }}</li>
                <li>{{ current_user.buyer_name }}</li>
                <li>{{ current_user.points }} điểm</li>
            </ul>
        </nav>
    </header>
    <div class="admin-container">
        <h1>Manage Accounts</h1>
        <ul>
            <li><a href="{{ url_for('admin.manage_customer_admins') }}" class="manage-button">Quản lý Admin Cấp Thấp</a></li>
            <li><a href="{{ url_for('admin.manage_customers') }}" class="manage-button">Quản lý Tài Khoản Khách Hàng</a></li>
        </ul>
    </div>
</body>
</html>
